@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg-[#2463eb] */
/* bg-[#0b0d2a] */
/* bg-[#11133e] */

@layer components {
  .stats {
    @apply bg-[#07081a] text-white p-4 flex-1 rounded-md border-[#3f43a6] border-2;
  }
  .stats-container {
    @apply bg-[#0b0d2a] p-5 rounded-lg border-[#3f43a6] border;
  }

  .countdown {
    @apply p-8 text-5xl text-center text-indigo-200 rounded-lg lg:min-w-[150px] bg-[#6e71c7];
  }

  .countdown-label {
    @apply text-center text-white uppercase text-sm pt-4;
  }

  .admin-button {
    @apply bg-[#0b0d2a] p-2 flex-1 rounded-md border-[#7a7cb3] border-2 hover:bg-[#373b64];
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
